//colors

$secondary: #c1eaff; 
$primary: #1f1855;
$primary-background: white;
$secondary-background: #f9edcc;
$secondary-background-opacity: 0.7;
$secondary-background-with-opacity: rgba(57, 62, 70, var(--$secondary-background-opacity));
$accent: #fecc6f;
$accent2: #fd7e81;


*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body, #root{
  width: 100%;
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 64rem) {
    @content;
  }
}

