@use "../../partials/_styles.scss" as *;
@use "../../partials/_fonts.scss" as *;

.courses{
display: flex;
flex-wrap: wrap;

@include tablet{
    gap: 2rem;
    margin: 0 auto;
}

&__container{

   width: 100%; 
   padding: 1.25rem ;
   border: 2px solid $secondary;
   border-radius: 30px;   
   display: flex;
   margin: 0 1rem 1rem 1rem;

   &:hover{
    background-color: $secondary;
    border: 2px solid $primary;
    
  
   }
   
   @include tablet{
    width: 45%;
    margin: 0 auto;
    align-items: center;

   }

}
&__title{
    font-size: 1.375rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

&__code{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
&__description{
    font-size: 1rem;
    
}
}

.grade-tabs{
    display: flex;
    gap: 0.5rem;
   flex-wrap: wrap;
   margin: 1rem;

    @include tablet{
        
        gap: 1rem;
       justify-content: center;
    }
   
 
    button{


     width: 6rem;
     border-radius: 25px;
     
        font-size: 1rem;
        background-color: white;
        color: $primary;
        font-family: "Poppins";
    
        border: 2px solid $primary;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 1rem;
        padding: 0.4rem 1rem;
        margin-bottom: 2rem;

        @include tablet{
            width: 8rem;
            border-radius: 50px;
        }
        

        &:hover, &.active{
            background-color: $accent;
        }
    }
   
}