@use "../../partials/_styles.scss" as *;
@use "../../partials/_fonts.scss" as *;

.prices{

    &__container{
        background-color: $secondary-background;
        width: 75%;
        border-radius: 20px;
        padding: .75rem;
        display: flex;
        flex-direction: column;
        margin: 2rem auto;
        box-shadow: 10px 5px 10px $accent;

        @include tablet{
            width: 50%;
            height: 18rem;
        }

        @include desktop{
            width: 35%;
            height: 20rem;
        }
    
    }
   
   &__details{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-size: 1rem;

    @include tablet{
        font-size: 1.25rem;
       
    }
    }

    &__price{
        font-weight: 600;
    }

    &__sessionnote{
        margin-top: 1rem;
        font-weight: 600;
        
    }
}